@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.body{
    max-width: 100%;
    margin: 0;
}
.barra_de_navegacion{
    padding: 15px;
    background-image: linear-gradient(to left, orange, red);
    display: flex
    
}

.logo {
    width: 200px;
    margin: 10px;
    transition: height 2s, width 1s;
    padding: 0;

}

.logo:hover {
    height: 90px;
    width: 250px;
}

.barra_de_navegacion>ul {
    list-style: none;
    display: flex;
    justify-content: end;
    justify-self: right;
}

.barra_de_navegacion>ul>li {
    position: relative;
}

.barra_de_navegacion>ul>li:hover ul {
    max-height: 300px;
    transition: 0.5s;
}
.tres_dos{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.dos_uno{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;

}
.futbol{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}
.barra_de_navegacion ul li a {
    display: block;
    text-decoration: none;
    color: azure;
    font-size: 20px;
    padding: 20px;
}

.barra_de_navegacion>ul>li>ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    list-style-type: none;
    background-color: rgba(243, 65, 65, 0.541);
    left: 35px;
}

.portadaIndex {
    background-image: url(../img/supermercado-2637227.webp);
    background-size: cover;
    font-size: 30px;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 2s;
}

.portadaIndex-info {
    padding: 40px;
    margin-left: 10px;
    align-items: center;
    position: absolute;
    color: rgb(255, 255, 255);
    outline-offset: -3px;
    transition: all 1s;
    
}

.titulo {
    padding: auto;
}

.subtitulo{
    text-align:justify;
    height: 30px;
    padding: 0;
    margin: 10px;
    color:rgb(0, 0, 0);
    
}
.subtitulo2{
        text-align: justify;
        height: 40px;
        padding: 30px;
        margin: 10px;
        color: rgba(0, 0, 0, 0.644);
    
}
.subtitulo3{
    text-align: justify;
        height: 30px;
        padding: 10px;
        margin: 10px;
        color: rgb(0, 0, 0);
}

.tarjeta_50_off{
    box-sizing: border-box;
    display: flex;
    height: 150px;
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center;
}
   

.tarjetas {
    padding: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tarjeta {
    box-sizing: border-box;
    display: flex;
    height: 150px;
    text-align: left;
}

.btn {
    display: block;
    width: 90px;
    margin-top: 10px;
    text-align: center;
    padding: 5px 10px;
    font-family: inherit;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 30, 60);
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);


}

.adds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.add {
    display: flex;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}

.add img {
    width: 100%;
    height: 90%;
    object-fit: cover;



}

.add h4 {
    position: absolute;
    width: 100%;
    bottom: 1%;
    padding: 1%;
    font-size: 12px;
    text-align: center;
    color: rgb(255, 254, 254);
    background-color: rgba(7, 0, 0, 0.459);

}

.marcas_destacadas {
    position: relative;
    display: flex;
    width: 50px;
    height: 70px;
    justify-content: left;

}
.marcas_destacadas2{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    

}
.imperdibles{
    display: flex;
    width: auto;
    padding: 20px;
    justify-content:space-around;
    margin: 2rem auto;
    margin-bottom: 50px;
    flex-wrap: wrap;

}


.treintaoff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cincuentaoff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);

}

.promoMundial {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    letter-spacing: 5px;
    text-align: center;

}

.formulario {
    margin: 0 auto;
    padding: 15px;
    color: #999;
    border-radius: 3px;
    width: 350px;
    background-color: rgba(235, 37, 37, 0.192);
    position: relative;
    right: 1800px;
    top: 300px;

}

.campo {
    border: solid 1px #ccc;
    padding: 10px;
    width: 280px;
    text-align: right
}

.btn-red {
    display: block;
    width: 80px;
    margin-top: 10px;
    padding: 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 30, 60);
    color: rgb(255, 255, 255);
    position: relative;
    left: 115px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}

.banner-carousel {
    display: flex;
    width: 80%;
    margin: 2rem auto;
}

.carousel {
    display: flex;
    align-items: center;
}

.tarjeta h3 {
    font-size: 0.8rem;
    min-height: 54px;
}

.tarjeta p {
    min-height: 54px;
}

.mapa{
    margin: 0 auto;
    padding: 15px;
    border-radius: 3px;
    width: 350px;
    position: relative;
    right: 1813px;
    top: 300px;
    }